.form-login {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;

  >.box-buttons {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    width: 100%;

    >div {
      align-items: baseline;
      display: flex;
    }
  }
}
