<app-header [title]="titleHeader" [text]="textHeader" />
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-login">
  <div *ngFor="let item of inputs">
    <app-input
      [id]="item.id"
      [type]="item.type"
      [label]="item.label"
      [placeholder]="item.placeholder"
      [formControlName]="item.id" />
  </div>
  <div class="box-buttons">
    <div>
      <app-confirm [label]="loginConfirm" />
      <app-link [url]="singUpLink" [label]="singUpLabel" />
    </div>
    <app-link [url]="forgotPasswordLink" [label]="forgotPasswordLabel" />
  </div>
</form>
