button {
  background: #020617;
  border-radius: .4rem;
  border: 1px solid #020617;
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  height: 2.5rem;
  line-height: 1.25rem;
  margin-top: 1.8rem;
  padding: 0.5rem 1rem;
  width: 100%;
}
